<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/index.css">
        <title>HomePage</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="../static/maykon.png" alt="Foto Flamengo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form action="/cadastro" class="form-inline my-2 my-lg-0">
                    <button id="botaoNav" class="btn btn-dark my-2 my-sm-0" type="submit">Cadastrar-se</button>
                </form>
                <br>
                <form action="/listar" class="form-inline my-2 my-lg-0">
                    <button id="botaoNav" class="btn btn-dark my-2 my-sm-0" type="submit">Ver Cadastro</button>
                </form>
            </div>
        </nav>
    </body>
</html>