<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div class="conteudo">
            <a class='btn-cadastro' href="/cadastrar">Cadastrar</a>
            <table id='tabela-pessoa'>
                <thead>
                    <tr>
                        <th>Nome Equipe</th>
                        <th>Numero Equipe</th>
                        <th>Descricao Equipe</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in lista %}
                    <tr>
                        <td>{{ p.id_equipe }}</td>
                        <td>{{ p.nome_equipe }}</td>
                        <td>{{ p.numero_equipe }}</td>
                        <td>{{ p.descricao_equipe }}</td>
                        <td>
                            <a href="/cadastrar?id={{ p.id }}" class="editar">Editar</a>
                            <a href="/excluir?id={{ p.id }}&id_end={{ p.endereco.id }}" class="excluir">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>