<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>resultado</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Resutado da soma entre {{n1}} e {{n2}} é = {{resultado ['soma']}}</p>
    <p>Resutado da subtracao entre {{n1}} e {{n2}} é = {{resultado ['subtracao']}}</p>
    <p>Resutado da multiplicacao entre {{n1}} e {{n2}} é= {{resultado ['multiplicacao']}}</p>
    <p>Resutado da divisao inteira entre {{n1}} e {{n2}} é= {{resultado ['divisao_inteira']}}</p>
    <p>Resutado da divisao fracionada entre {{n1}} e {{n2}} é = {{resultado['divisao_fracionada']}}</p>
    <p>Resutado do resto entre {{n1}} e {{n2}} é = {{resultado ['resto']}}</p>
    <p>Resutado da raiz entre {{n1}} e {{n2}} é = {{resultado ['raiz']}}</p>

    <br>
    <a href="/">Voltar para pagina inicial</a>
</body>
</html>
